<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Holographic.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="IsCreateDB" value="0" />
        <!--是否自动建库，1自动建库，其它不建库-->
        <add key="MJIP" value="" />
        <!--门禁服务绑定的IP，为空则绑定本机所有网卡-->
        <add key="MJPort" value="2222" />
        <!--门禁服务使用端口，0则不开启门禁服务-->
        <add key="MJDoorStatus" value="0" />
        <!--门禁是否检查门状态，1检查，其它不检查-->
        <add key="MJDoorStatusFlag" value="0" />
        <!--门状态开高低电平，1高，0低-->
        <add key="FK" value="0" />
        <!--是否支持访客功能，1支持，其它不支持-->
        <add key="ApbFlag" value="1" />
        <!--阶层管制实现方式，1软件，其它硬件-->
        <add key="HKCamera" value="0" />
        <!--HK相机支持，1支持，其它不支持-->
        <add key="FaceIP" value="127.0.0.1" />
        <!--人证比对服务绑定的IP，为127.0.0.1则绑定本机-->
        <add key="FacePort" value="0" />
        <!--人证比对服务使用端口，0则不开启人证比对服务-->
        <add key="TimedTaskInterval" value="0" />
        <!--定时任务间隔，单位分钟，0为不使用,该项根据任务需求设置，尽量设大，以免影响性能，大于百万单位微秒，所有定时任务都依赖此项-->
        <add key="MJLockCardInterval" value="0" />
        <!--门禁锁卡间隔，单位天，0为不使用，需开启定时任务才有效-->
        <add key="AutoXFCardToMJInterval" value="0" />
        <!--根据老版消费卡制门禁卡，单位定时任务间隔，0为不使用，需开启定时任务才有效-->
        <add key="CardSnr" value="0" />
        <!--读卡序列号正反,1为反，其它正,非特殊都配成0-->
        <add key="ZWSize" value="8" />
        <!--指纹号占几位，老版本设为5，新版本设为8-->
        <add key="RLIsMustCard" value="1" />
        <!--是否必须存在卡号，人脸才有效，即人脸+卡。1是，其它否-->
        <add key="TKIP" value="" />
        <!--梯控服务绑定的IP，为空则绑定本机所有网卡-->
        <add key="TKPort" value="0" />
        <!--梯控服务使用端口，0则不开启梯控服务-->
        <add key="TKCOM" value="0" />
        <!--梯控服务串口号，多个用|分隔，0或空则不开启-->
        <add key="YDCIP" value="" />
        <!--地磁引导服务绑定的IP，为空则绑定本机所有网卡-->
        <add key="YDCPort" value="0" />
        <!--地磁引导服务使用端口，0则不开启地磁引导服务-->
        <add key="YDCSBIP" value="" />
        <!--超声波引导服务绑定的IP，为空则绑定本机所有网卡-->
        <add key="YDCSBPort" value="0" />
        <!--超声波引导服务使用端口，0则不开启超声波引导服务-->
        <add key="YDSPIP" value="" />
        <!--数字视频引导服务绑定的IP，为空则绑定本机所有网卡-->
        <add key="YDSPPort" value="0" />
        <!--数字视频引导服务使用端口，0则不开启数字视频引导服务-->
        <add key="PKIP" value="" />
        <!--停车服务绑定的IP，为空则绑定本机所有网卡-->
        <add key="PKPort" value="0" />
        <!--停车服务使用端口，0则不开启停车服务-->
        <add key="PKChargeIP" value="" />
        <!--停车收费服务绑定的IP，为空则绑定本机所有网卡-->
        <add key="PKChargePort" value="0" />
        <!--停车收费服务使用端口，0则不开启停车收费服务-->
        <add key="PKLimitInOut" value="0" />
        <!--是否限制一进一出，1限制，其它不限制-->
        <add key="PKFreeUserOutConfirm" value="0" />
        <!--固定用户出是否需要人工确认，1需要确认，其它不需要-->
        <add key="PKOutDaysWatch" value="0" />
        <!--过期提前几天提示，0不提示-->
        <add key="PKFullAllowIn" value="0" />
        <!--车位满是否允许进，1允许，其它不允许-->
        <add key="PKMatchNum" value="3" />
        <!--车牌识别位数-->
        <add key="PKEmptyAllowIn" value="0" />
        <!--车牌未识别是否允许进入，1允许，其它不允许-->
        <add key="PKEmptyArtificialIn" value="1" />
        <!--进入车牌未识别是否人工输入进入，1是，其它否-->
        <add key="PKTempInConfirm" value="0" />
        <!--临时车进入是否需要人工确认，1是，其它否-->
        <add key="SocketGuardInterval" value="0" />
        <!--以太网守护间隔，单位分钟,0则不开启-->
        <add key="FKIsMustPicQrCode" value="0" />
        <!--生成二维码访客时，是否必须拍照，1为必须，其它可不拍-->
        <add key="IsCheckSession" value="0" />
        <!--是否检查会话Session，1检查，其它不检查-->
        <add key="DBFileName" value="../App_Data/SqlServer.sql" />
        <!--建库文件路径-->
        <add key="UpgradeDBFileName" value="../App_Data/SqlServerUpgrade.sql" />
        <!--库升级文件路径-->
        <add key="DAL" value="DALSqlServer" />
        <!--数据库类型，DALMySql，DALSqlServer，DALOralce，DALSQLite，DALODBC，DALOleDb，DALFirebird，DALPostgreSql，DALDB2，DALInformix，DALSqlServerCe-->
        <add key="IsEncrypt" value="0" />
        <!--数据库连接串是否加密，1加密，其它不加密-->
        <add key="ConfigCacheTimeOut" value="0" />
        <!--配置超时时间，单位分钟-->
        <add key="DataCacheTimeOut" value="3600" />
        <!--缓存超时时间，单位分钟-->
        <add key="LogLevel" value="9" />
        <!--打印日志等级，越小打印越详细-->
        <add key="PZ" value="1" />
        <!--最高角色是否允登录，1允许，其它不允许-->
        <add key="DownTimeOut" value="2000" />
        <!--以太网通讯超时，单位毫秒-->
        <add key="Httptimeout" value="3" />
        <!--HTTP超时，单位秒-->
        <add key="MjYuRecordUrl" value="123.157.158.94:48080/egent/api" />
        <!--用友软件提供的上传记录的Http接口地址，为空不启用上传-->
        <add key="IsSendMessage" value="0" />
        <!--是否支持短信发送，1支持，其它不支持-->
        <add key="ExSql" value="Data Source=192.168.18.213;Database=worldykt;User ID=ic;Password=icanteen;pooling=true;Min Pool Size=3;Max Pool Size=100;Connect Timeout=100" />
        <!--扩展库-->
    </appSettings>
    <connectionStrings>
        <remove name="MySql" />
        <add name="MySql" connectionString="Data Source=localhost;Port=3306;Database=worldykt;User ID=root;Password=pz123456;Allow Zero Datetime=True;pooling=true;Min Pool Size=3;Max Pool Size=1000;Connection Lifetime=60;connection timeout=10;charset=utf8" providerName="MySql.Data.MySqlClient" />
        <!--MySql数据库连接串，按顺序：数据库所在电脑（本机默认localhost）;端口（默认3306）;库名;登录名;密码;是否允许零时间;是否开启数据连接池;最小连接数;最大连接数;连接保持时间;连接超时;字符集-->
        <add name="SqlServer" connectionString="Data Source=192.168.18.133;Database=xmlzcs;User ID=ic;Password=icanteen;Integrated Security=false;pooling=true;Min Pool Size=3;Max Pool Size=1000;Connect Timeout=100;" providerName="System.Data.SqlClient" />
        <!--MSSqlServer数据库连接串，按顺序：数据库所在电脑（本机默认.或(Local)）,端口（默认1433）;库名;登录名;密码;身份验证(Windows:SSPI或true);是否开启数据连接池;最小连接数;最大连接数;连接超时-->
    </connectionStrings>
    <system.web>
        <httpRuntime maxRequestLength="40960" executionTimeout="60" />
        <!--最大请求长度,单位为kb；超时时间，单位秒-->
        <sessionState mode="InProc" timeout="999" />
        <!--会话超时，单位分钟-->
        <compilation debug="true" targetFramework="4.0">
            <!--是否调试模式，net版本-->
            <assemblies>
                <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
            <buildProviders>
            </buildProviders>
        </compilation>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
        <authentication mode="Windows">
            <!--认证模式-->
            <forms loginUrl="newlogin.htm" timeout="2880" />
            <!--登陆页-->
        </authentication>
        <!--<httpRuntime requestValidationMode="2.0"/>
      <pages validateRequest="false"/>-->
        <!--请求认证模式，为了支持webservice传输xml，故设置为2.0，不安全只万通用，以后不用-->
        <customErrors mode="Off" defaultRedirect="newlogin.htm" />
        <!--报错是否展示，不展示时，跳转的页面-->
        <webServices>
            <protocols>
                <add name="HttpSoap" />
                <add name="HttpPost" />
                <add name="HttpGet" />
                <add name="Documentation" />
            </protocols>
        </webServices>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <clear/>
                <add value="newlogin.htm" />
                <!--首页-->
            </files>
        </defaultDocument>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <applicationSettings>
        <Holographic.Web.Properties.Settings>
            <setting name="Holographic_net_openmas_ls007_MmsImplementation" serializeAs="String">
                <value>http://211.140.164.232:9090/OpenMasService</value>
                <!--访客发送彩信地址-->
            </setting>
        </Holographic.Web.Properties.Settings>
    </applicationSettings>
</configuration>