--基本
ALTER TABLE mng_department ADD out_id VARCHAR(50);
ALTER TABLE mng_department ADD used VARCHAR(1);
ALTER TABLE mng_department ADD sms_flag VARCHAR(1);
ALTER TABLE mng_department ADD end_date DATETIME DEFAULT GETDATE();
ALTER TABLE mng_department ADD sort INT;
ALTER TABLE mng_department ADD totel_num INT;
ALTER TABLE mng_department ADD display_flag VARCHAR(1);
ALTER TABLE mng_department ADD dis_flag VARCHAR(1);
ALTER TABLE mng_department ADD zs_flag VARCHAR(1);
UPDATE mng_department SET end_date='2099-12-31 23:59:59' WHERE end_date IS NULL;
ALTER TABLE user_file ADD role_id INT DEFAULT 0;
ALTER TABLE user_file ADD lastlogintime DATETIME DEFAULT GETDATE();
ALTER TABLE user_file ADD loginerror INT DEFAULT 3;
ALTER TABLE user_file ADD theme VARCHAR(10);
ALTER TABLE user_file ADD lan VARCHAR(10);
ALTER TABLE user_file ADD skin  VARCHAR(10);
ALTER TABLE user_file ADD work_type  VARCHAR(2) DEFAULT '01';
ALTER TABLE user_file ADD out_id VARCHAR(50);
ALTER TABLE user_file ADD qrcode VARCHAR(50);
ALTER TABLE user_file ADD psw VARCHAR(50);
ALTER TABLE user_file ADD password VARCHAR(10);
ALTER TABLE user_file ADD used_flag VARCHAR(1);
UPDATE user_file SET role_id=0 WHERE role_id IS NULL;
UPDATE user_file SET work_type='01' WHERE work_type IS NULL;
--门禁
ALTER TABLE mj_control_mach ADD last_time DATETIME DEFAULT GETDATE();
ALTER TABLE mj_control_door ADD comm_message VARCHAR(100);
ALTER TABLE mj_control_door ADD last_time DATETIME DEFAULT GETDATE();
ALTER TABLE mj_control_door ADD area_id INT;
ALTER TABLE mj_control_door ADD door_type VARCHAR(2) DEFAULT '00';
ALTER TABLE mj_control_door ADD ip VARCHAR(15);
ALTER TABLE mj_control_door ADD port INT;
ALTER TABLE mj_control_door ADD open_flag VARCHAR(1) DEFAULT '0';
ALTER TABLE mj_control_door ADD yj_door VARCHAR(10) NULL;
ALTER TABLE event_recorder_mj ADD case_info_id VARCHAR(10) ;
ALTER TABLE event_recorder_mj ADD photo_flag INT;
ALTER TABLE mj_expand_modular ADD modular_num VARCHAR(5);
ALTER TABLE mj_expand_modular ADD yj_modular VARCHAR(10);
ALTER TABLE mj_card_using ADD used_mode VARCHAR(1) NULL DEFAULT '0';
CREATE INDEX ix_mj_control_door_door_num ON mj_control_door(control_id,door_num);
CREATE INDEX ix_mj_control_card_control_card ON mj_control_card(control_id,card_id);
CREATE INDEX ix_event_recorder_mj_event_date ON event_recorder_mj(event_date);
CREATE INDEX ix_event_recorder_mj_user_file ON event_recorder_mj(user_file);
CREATE INDEX ix_event_recorder_mj_mach_id_event_cardid ON event_recorder_mj(mach_id,event_cardid);
CREATE INDEX ix_mj_user_door_user_file ON mj_user_door(user_file);
--指纹
ALTER TABLE zw_mach ADD group_id INT;
ALTER TABLE zw_mach ADD mach_id VARCHAR(5);
--巡检
CREATE INDEX ix_xg_event_recorder_event_date ON xg_event_recorder(event_date);
CREATE INDEX ix_xg_road_result_case_time ON xg_road_result(case_time);
--梯控
ALTER TABLE tk_elevator ADD com INT;
ALTER TABLE tk_elevator ADD gid INT;
ALTER TABLE tk_right ADD elevator_idex INT;
ALTER TABLE tk_right ADD floorex VARCHAR(200);
ALTER TABLE tk_right ADD elevator_idex2 INT;
ALTER TABLE tk_right ADD floorex2 VARCHAR(200);
ALTER TABLE tk_hmd_down ADD card_no INT;
ALTER TABLE tk_elevator ADD com_type VARCHAR(2) DEFAULT '02';
ALTER TABLE tk_elevator ADD start_floor INT DEFAULT 0;
UPDATE tk_elevator SET com_type='01' WHERE com_type IS NULL;
--消费
ALTER TABLE card_using ADD issu_num INT DEFAULT 1;
CREATE INDEX ix_proc_money_case_date ON proc_money(case_date);
--引导
ALTER TABLE pk_cw_info ADD battery_status VARCHAR(1);
ALTER TABLE pk_cw_info ADD last_time DATETIME DEFAULT GETDATE();
CREATE INDEX ix_pk_cw_record_begin_end_date ON pk_cw_record(begin_date,end_date);
CREATE INDEX ix_pk_inout_record_event_date ON pk_inout_record(event_date);
CREATE INDEX ix_pk_cwpark_mx_case_date ON pk_cwpark_mx(case_date);
--停车
ALTER TABLE pk_user_cp ADD cartype VARCHAR(60);
ALTER TABLE pk_user_cp ADD carcolor VARCHAR(30);
ALTER TABLE pk_user_cp ADD carbrand VARCHAR(30);
ALTER TABLE pk_jk_info ADD port INT;
ALTER TABLE pk_jk_info ADD jk_type VARCHAR(2);
ALTER TABLE pk_jk_info ADD jk_name VARCHAR(50);
ALTER TABLE pk_door ADD master_id INT;
ALTER TABLE pk_door ADD sencond_id INT;
CREATE UNIQUE INDEX ix_pk_user_cp_cp ON pk_user_cp(cp);
CREATE INDEX ix_pk_log_record_event_date ON pk_log_record(event_date);
--考勤
CREATE INDEX ix_event_recorder_event_date ON event_recorder(event_date);
--访客
CREATE INDEX ix_fk_qrcode_log_begin_date ON fk_qrcode_log(begin_date);
--小区
CREATE INDEX ix_xq_madecard_log_create_time ON xq_madecard_log(create_time);
--流转
CREATE UNIQUE INDEX ix_lz_project ON lz_project(project_no);
--报备
CREATE UNIQUE INDEX ix_bb_project ON bb_project(project_no);
