body 
{
    padding: 10px;
}
a
{
    font-size:medium;
    margin:5px 0px 10px 0px;
    }

 .txt
 {
     height:40px;
     width:500px;
     font-size:medium;
     margin:20px 0px 0px 0px;
     }